html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.table {
  font-size: 14px;
}
body {
  margin: 0;
  margin-top: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {
    height: 100%
  }

  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #1c1e22;
    height: 1000px;
  }

  .navbar-toggle {
      border: solid 1px black;
      margin-top: -39px;
      padding: 7px 10px;
  }
  hr {
    border-color: grey;
  }
  .head-color {
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
  }
  .sidenav {
      background-color: #1c1e22;
      height: 1000px;
  }
.nav-pills > li > a {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: none;
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #ffffff;
}
.table-bordered {
    border: none;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    border: 1px solid #1c1e22;
    vertical-align: bottom;
}

.table > tbody > tr > td {
  background-color: #2e3338;
}

.btn-primary {
  color: #ffffff;
  background-color: #7a8288;
  border-color: #7a8288;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #62686d;
  border-color: #3e4245;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #62686d;
  border-color: #5d6368;
}

.btn-primary:active:hover {
  color: #ffffff;
  background-color: #51565a;
  border-color: #3e4245;
}

  /* Set black background color, white text and some padding */
  footer {
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
    padding: 15px;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
  }


  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  .close:hover,
  .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
  .modal-open {
    overflow: hidden;
  }
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  .modal-content {
    position: relative;
    background-color: #2e3338;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    outline: 0;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
  }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #1c1e22;
  }
  .modal-header .close {
    margin-top: -2px;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
  }
  .modal-body {
    position: relative;
    padding: 20px;
  }
  .modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #1c1e22;
  }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0;
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
      width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg {
      width: 900px;
    }
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
    .hidden-md-down {
      display: none;
    }
  }
